# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.log

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
#  Usually contains pyc files
*.manifest
*.spec

# Cython
*.c
*.cpp

# ========================
# Jupyter Notebook
# ========================
.ipynb_checkpoints/

# ========================
# VSCode / IDEs
# ========================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ========================
# OS / System Files
# ========================
.DS_Store
Thumbs.db
*.swp
*.bak
*.tmp
